* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: .5px;
    /* font-family: namo; */
}
body{
    /* background-color: rgb(255, 255, 219); */
    background-image: url("https://st2.depositphotos.com/1005721/5186/i/450/depositphotos_51867195-stock-photo-floral-pattern-flower-background-on.jpg");
    /* background-image: url("https://st4.depositphotos.com/1275301/21772/i/450/depositphotos_217729786-stock-illustration-watercolor-floral-hand-drawn-colorful.jpg"); */
}
@font-face {
    font-family: name;
    src: url(FLOWER.ttf);
}
@font-face {
    font-family: namo;
    src: url(Flower1.ttf);
}

.baner {
    width: 100%;
    height: 25vh;
    display: flex;
    background-image: url('/img/fondo-banner.jpg');
    justify-content: center;
    background-size: cover;
    align-items: center;
    font-family: Arial, sans-serif;
}

#titulo {
    font-family: name;
    color: black;
    text-align: center;
    /* font-weight: bold; */
    font-size: 550%;
    line-height: 80px;
}

.car {
    width: 4%;
    top: 100px;
    margin-left: 93%;
    position: fixed;
}
.carrito-imagen {
    max-width: 100px; /*Ajusta el tamaño máximo de la imagen del carrito
    height: auto; mantiene la proporción */
}
#cuenta-carrito{
    text-decoration: none;
    color: chartreuse;
    margin-left: 1280px;
    margin-top: -7%;
    position: fixed;
}
/* Estilo para el contenedor de las tarjetas */
#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
}

/* Estilo para las tarjetas */
.card {
    background-color: rgba(214, 214, 202, 0.457); 
    border-radius: 15px; 
    margin: 20px; 
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/010/790/281/non_2x/floral-seamless-pattern-in-black-and-white-line-style-doodle-flowers-textile-print-vintage-nature-graphic-bell-flower-meadow-flowers-and-leaves-motif-vector.jpg"); */
    padding: 20px; 
    width: 300px; /* Ancho de las tarjetas (ajustable según el número de tarjetas por fila) */
    text-align: center; 
    /* display: flex;
    justify-content: center; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
}
.img-fluid{
    max-height: 400px
}
.card-body{
    display: flex;
    flex-direction: column; /* Columna vertical */
    justify-content: center;
}
.btn-primary{
    background-color: rgba(255, 255, 255, 0.702);
    border: 0px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: namo;
}
.card-title {
    font-family: namo; /* Fuente de letra elegante */
    font-size: 40px;
    font-weight: bold; /* Tamaño de fuente */
    color: #333; /* Color de texto */
}
.card-text {
    font-family: namo; /* Fuente de letra elegante */
    color: black;
    font-weight: bold;
    font-size: 25px;
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px); /* Ancho de las tarjetas en dispositivos más pequeños */
    }
}
/* Estilo para las tarjetas del carrito */
.list-group-item {
    background-color: #a2ebe7; /* Color de fondo verde claro */
    border: none; /* Eliminar borde */
    border-radius: 15px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    padding: 20px; /* Espacio interno de las tarjetas */
}

/* Estilo para la imagen dentro de las tarjetas del carrito */
/*  */

/* Estilo para el texto dentro de las tarjetas del carrito */
.list-group-item span {
    font-family: 'Arial', sans-serif; /* Fuente de letra elegante */
    color: #333; /* Color de texto */
}

/* Estilo para el botón de eliminar dentro de las tarjetas del carrito */
.list-group-item button {
    font-family: 'Arial', sans-serif; /* Fuente de letra elegante */
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .list-group-item {
        width: 100%; /* Ancho completo en dispositivos más pequeños */
    }
}


/* .card-body {
    background-color: rgb(161, 226, 226);
    padding: 20px; Ajusta el relleno para aumentar el tamaño de la tarjeta
}


Anular estilos de Bootstrap para las tarjetas
.card {
    border: none;
    Otros estilos que quieras anular
}

.card-body {
    padding: 0; Anula el relleno predeterminado
    Otros estilos que quieras anular
} */
